#run{
    background-color: #E1D2BC;
    height: 100vh;
  
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(211, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background:#ffffff
  }

.col-sm-6{
    align-items: right;
}

.container{
    margin-top: 5rem;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }