<body>
<app-navbar></app-navbar>


   <!-- <div class="container mt">
    <div class="column">
        <div class="card" routerLink="/earnings">
          <h5 class="card-title" style="font-weight: bolder; font-family: unset;">Total earnings</h5> -->
        
          <div class="row">
            <div class="col-sm-6">
              <div class="card mt-5">
                <div class="card-body">
                  <h5 class="card-title">Earnings</h5>
                  <img src="../../../assets/images/Money income-rafiki.png">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
              </div>
            </div>

            <div class="col-sm-6">
                <div class="card mt-5" routerLink="/requests">
                  <div class="card-body">
                    <h5 class="card-title">Requests</h5>
                    
                    <img src="../../../assets/images/Accept request-cuate.png">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
                  </div>
                </div>
              </div>
            

              <div class="col-sm-6">
                <div class="card mt-5">
                  <div class="card-body">
                    <h5 class="card-title">Current Jobs</h5>
                    <img src="../../../assets/images/Checking boxes-bro.png">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                   
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card mt-5">
                  <div class="card-body">
                    <h5 class="card-title">Ratings</h5>
                    <img src="../../../assets/images/Online Review-cuate.png">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                   
                  </div>
                </div>
              </div>
          </div>
        </body>

     


