

<app-navbar></app-navbar>
<body>



    
   
        
          <div class="row">
            <div class="col-sm-6">
              <div class="card mt-5" routerLink="/Earn">
                <div class="card-body">
                  <h5 class="card-title">Earnings</h5>
                  <img src="../../../assets/images/Money income-rafiki.png">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
              </div>
            </div>

            <div class="col-sm-6">
                <div class="card mt-5" routerLink="/request">
                  <div class="card-body">
                    <h5 class="card-title">Requests</h5>
                    
                    <img src="../../../assets/images/Accept request-cuate.png">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
                  </div>
                </div>
              </div>
            

              <div class="col-sm-6">
                <div class="card mt-5" routerLink="/Jobs">
                  <div class="card-body">
                    <h5 class="card-title">Current Jobs</h5>
                    <img src="../../../assets/images/Checking boxes-bro.png">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                   
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card mt-5" routerLink="/ratings">
                  <div class="card-body">
                    <h5 class="card-title">Ratings</h5>
                    <img src="../../../assets/images/Online Review-cuate.png">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                   
                  </div>
                </div>
              </div>
          </div>
       
        </body>

     


