
  .container{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    padding-top: 50px;
    border: solid;
  
    background-color: #90693180;
    border-radius: 15px;
  }
  ::placeholder {
    /* color: whitesmoke; */
    color: #0e1417;
    opacity: 1; /* Firefox */
  }
  input  {
background-color: #90693180;
  }
  textarea{
    background-color: #90693180;
   
  }
  .comm{
    color: #90693180;
  }
section h1{
    color: #455A64;
    font-family: "Barlow", sans-serif;
    font-size:80px;
    margin-bottom: 30px;
    padding-top: 20px;
}
section {
    padding-top: 50px;
    padding-bottom: 100%;
    background-color: #E1D2BC;
}

.btn{
    background-color:green; 
    color: white;
    border: solid;
    /* border-color: orangered; */
    
}