<!-- 

<div class="split left">
    <div class="centered">
      <img src="../../../assets/images/Online Groceries-pana.png" >
      
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
 
        <form action="action_page.php" method="post">
            <div class="imgcontainer">
              <h4><b>Welcome Back!</b></h4>
            </div>
          
            <div class="container">

              <label for="uname">Username</label>

              <input type="text" placeholder="Enter Username" name="uname" required>
          
              <label for="psw">Password</label>
              <input type="password" placeholder="Enter Password" name="psw" required>
    
                <span class="psw">Forgot <a href="#">password?</a></span>
              
          <div>
              <button type="submit">Login</button>
            </div>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
              
            </div>
          <div>
            <span class="psw">Not a member? <a href="#">SignUp</a></span>
          </div>
           
          </form>
    </div>
  </div> -->
 <!-- <body>
  <section class="intro">
    <div class="row">
      <div class="col-lg-6 col-sm-12 left">
       
        <div class="left">
            <div class="centered">
              <img src="../../../assets/images/Online Groceries-pana.png" >
              
            </div>
          </div>

      </div>
      <div class="col-lg-6 col-sm-12 right">
       

        <div class=" right">
            <div class="centered">
         
                <form action="action_page.php" method="post">
                    <div class="imgcontainer">
                      <h4><b>Welcome Back!</b></h4>
                    </div>
                  
                    <div class="container">
        
                      <label for="uname">Username</label>
        
                      <input type="text" placeholder="Enter Username" name="uname" required>
                  
                      <label for="psw">Password</label>
                      <input type="password" placeholder="Enter Password" name="psw" required>
            
                        <span class="psw">Forgot <a href="#">password?</a></span>
                      
                  <div>
                      <button type="submit">Login</button>
                    </div>
                      <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                      </label>
                      
                    </div>
                  <div>
                    <span class="psw">Not a member? <a href="#">SignUp</a></span>
                  </div>
                   
                  </form>
            </div>
          </div> 
      </div>
    </div>
  </section>
  
</body>  -->

<!-- <div class="split left">
  <div class="centered">
    <img src="../../../assets/images/Online Groceries-pana.png" >
    
  </div>
</div>

<div class="split right">
  <div class="centered">

      <form>
          <div class="imgcontainer">
            <h4><b>WELCOME BACK!</b></h4>
          </div>
        
          <div class="container">
              <label for="psw">Email</label>
              <input type="password" placeholder="Enter Email" name="psw" required>


        
            <label for="psw">Password</label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <span class="psw">Forgot <a href="#">password?</a></span>

        <div>
            <button type="submit">LOGIN</button>
          </div>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
          
           
          </div>
        
          <div>
            <span class="psw">Not a member? <a href="#">SignUp</a></span>
          </div>
        </form>
  </div>
</div> -->
<!-- <div class="container " >
  <div class="split left">
  <div class="row align-items-center my-5 " id="loginContainer">
      <div class="col col-sm-12 col-lg-6 ">
          <img class="img-fluid" src="../../../assets/images/Online Groceries-pana.png" alt="">
      </div>
    </div>
      <div class="col col-12 col-lg-6 border-start mt-2">

          <h3 class="text-center display-4 mb-5">
              Login
          </h3>
          <div class="container w-55 ">
              <form action= "action_page.php" method="post">
                  <div class="mb-4">
                          <div class="input-group form-group mb-2">
                              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" formControlName="email" required>
                          </div> -->
                       <!-- <div ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
                          <spanngIf="email?.errors" class="text_color">Email is required, </span>
                          <span *ngIf="email?.errors?.email" class="text_color">email is invalid</span>
                      </div> -->
                  <!-- </div>
<div class="mb-4">
                      <div class="input-group form-group mb-2">
                          <span class="input-group-text"><i class="fa fa-key"></i></span>
                          <input type="password" class="form-control" id="exampleInputPassword1 " placeholder="Password" formControlName="password" required>
                      </div> -->
                      <!-- <div ngIf="(password?.dirty || password?.touched) && password?.invalid" class="errors">
                          <spanngIf="password?.errors?.required" class="text_color">Password is required, </span>
                          <span *ngIf="password?.errors?.required">password is invalid</span>
                      </div> -->

                  <!-- </div>
                  <div class="mb-4">
                      <p class="text-start">Forgot password?</p>
                  </div>
                  <div class="login">
                       <button type="submit" class="btn mt-3 px-5 text-light" id="submit">Login</button>
                  </div>
                  <p class="tag mt-3 mb-3">Don't have an account? <a routerLink='/register'>Register</a></p>
              </form>

          </div>
          <br>
      </div>
  </div>

</div> -->
<section class="intro">
  <div class="row">
    <div class="col-lg-6 col-sm-12 left">
      <div class="">
        <div class="centered">
          <img src="../../../assets/images/Online Groceries-pana.png" >
          
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 right">
      
      <div class="">
        <div class="centered">
     
            <form action="action_page.php" method="post">
                <div class="imgcontainer">
                  <h4><b>Welcome Back!</b></h4>
                </div>
              
                <div class="container">
    
                  <label for="uname">Username</label>
    
                  <input type="text" placeholder="Enter Username" name="uname" required>
              
                  <label for="psw">Password</label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
        
                    <span class="psw">Forgot <a href="#">password?</a></span>
                  
              <div>
                  <button type="submit">Login</button>
                </div>
                  <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
                  
                </div>
              <div>
                <span class="psw">Not a member? <a href="#">SignUp</a></span>
              </div>
               
              </form>
        </div>
      </div> 

    </div>
  </div>
</section>