<div class="split left">
    <div class="centered">
      <img src="../../../assets/images/Online Groceries-pana.png" >
      
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
 
        <form [formGroup]="registerForm" >
            <div class="imgcontainer">
              <h4><b>Welcome Back!</b></h4>
            </div>
          
            <div class="container">

              <label for="uname">Username</label>

              <input type="text" placeholder="Enter Username"  formControlName="email" name="uname" required>
          
              <label for="psw">Password</label>
              <input type="password" placeholder="Enter Password"  formControlName="password"name="psw" required>
          <div>
              <button type="submit" class="button" (click)="signIn()">Login</button>
            </div>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          
            <div class="container" >
    
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
    </div>
  </div>