<body>
<nav class="navbar navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand">We-run</a>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
     
        <div class="d-flex">
            <button type="submit" class="btn mt-3 px-1 "  routerLink='/login'>
               Login
            </button>
            <button type="submit" class="btn mt-3 px-1 "  routerLink='/register'>
                Register
             </button>
          </div>
       
    
    </div>
  </nav>




    <section id="home">
<div class="carousel__container">
  <div class="carousel__item">
      <div class="edit1">
    <img src="../../../assets/img/slide1.png" class="carousel__image">
      </div>
  </div>
  <div class="carousel__item">
    <img src="../../../assets/img/slide2.png" class="carousel__image">
  </div>
  <div class="carousel__item">
    <img src="../../../assets/img/slide3.png" class="carousel__image">
  </div>
  <div class="carousel__item">
    <img src="../../../assets/img/slide4.png" class="carousel__image">
  </div>
</div>
<div class="para">
    <h1><hr>We are always on the run for your errands <hr></h1>
</div>
    </section>

    <section id ="about">
        <div class="container text-center">
            <h1 class="title">WHAT WE DO?</h1>
            <div class="row text-center">
                <div class="col-md-4 services">
                    <img src="../../../assets/img/about1.png" class="serv">
    <h4>GROWTH MARKET</h4>
    <p>Subscribe to the things that are happening in real life</p>
     </div>
     <div class="col-md-4 services">
        <img src="../../../assets/img/about2.png" class="serv">
    <h4>ONLINE MARKETING</h4>
    <p>Subscribe to the things that are happening in real life</p>
    </div>
    <div class="col-md-4 services">
        <img src="../../../assets/img/about3.png" class="serv">
    <h4>ANIMATED ADS</h4>
    <p>Subscribe to the things that are happening in real life</p>
    </div>
     </div> 
     
    </div>  
    </section>
</body>
