/* .container
{
  margin-top: 2;
} */
#errands {
   
    background-color: #E1D2BC;
  }

  section {
    padding-top: 30px;
    padding-bottom: 100%;
}
.card{
    background-color: #90693180;
    /* background-color: #3d231b; */
 color: wheat;
    box-shadow: 0 0 15px 0 wheat;
    border-radius: 8px;
    border-color: rgb(166, 113, 16);
    border: solid;
}
.team-content{
  color: #394247;
}
.picture{
  width: 100%;
  height: 200px;
    object-fit: cover;
}
.container h1{
    color: #394247;
    font-family: "Barlow", sans-serif;
    font-size:80px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding-top: 1px;
  
}
.team-content{
  padding-left: 10px;
}