


<br>
<div class="grid-container">
    <br>
<br>
<!-- <form>
  <input type="button"
   onclick="history.go(-1)">
 </form> -->
    <h1>SERVICE HISTORY</h1>
    <br>
    <div class="card mb-3"  *ngFor="let req of reqs" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{req.errand}}

            </h5> 
            <hr>
          
            <p class="card-text"><small class="text-muted">Date: {{this.req.date}}</small></p>
            <p class="card-text"><small class="text-muted">Instruction: {{this.req.comment}}</small></p>
            
            <div class="col-md-12 text-right">
              
          </div>

          <p class="card-text">Status: <small class="text-muted">{{this.req.status}}</small></p>
   
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card mb-3"  *ngFor="let item of items" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.service}}

              </h5> 
              <hr>
            
              <p class="card-text"><small class="text-muted">Date: {{formatDate(item.req_date)}}</small></p>
              <!-- <p class="card-text">Service Provider: <small class="text-muted">{{this.item.runner_name}}</small></p> -->
             
            <p class="card-text">Instruction: <small class="text-muted">{{item.comment}}</small></p>
            <p class="card-text">Status: <small class="text-muted">{{item.status}}</small></p>
            <div *ngIf="item.status == 'Completed'" class="col-md-12 text-right">
              <button type="button"  class="btn btn-warning ml-2" (click)="getId(item)" [routerLink]="['/rate']">Rate</button>
          </div>
     
            </div>
          </div>
        </div>
      </div>

</div>
