<div class="split left">
    <div class="centered">
      <img src="../../../assets/images/Online Groceries-pana.png" >
      
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
 
        <form>
            <div class="imgcontainer">
              <h4><b>CREATE NEW ACCOUNT!</b></h4>
            </div>
          
            <div class="container">
                <label for="psw">Full Name</label>
                <input type="password" placeholder="Enter Full Name" name="psw" required>

              <label for="uname">Email</label>

              <input type="text" placeholder="Enter Username" name="uname" required>
          
              <label for="psw">Password</label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <label for="psw"> Confirm Password</label>
              <input type="password" placeholder="Confirm Password" name="psw" required>
          <div>
              <button type="submit">Register</button>
            </div>
             
            </div>
          
            <div class="container" >
    
            </div>
          </form>
    </div>
  </div>
